In [3]:
# load dependancies
import pandas as pd
import numpy as np
import os

In [61]:
# Load files
print(os.getcwd())

schools_load = os.path.join('Resources', 'schools_complete.csv')
students_load = os.path.join('Resources', 'students_complete.csv')

schools_df = pd.read_csv(schools_load, encoding='utf_8')
students_df = pd.read_csv(students_load, encoding='utf_8')

students_df.head()

C:\Users\meado\onedrive\documents\github\School_District_Analysis

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [64]:
# Create lists to store prefix and suffix
prefixes_suffixes = ["Dr. ", "Mr. ", "Mrs. ", "Miss ", "Ms. ", " DDS", " DVM", " MD", " PhD"]

for word in prefixes_suffixes:
    students_df["student_name"] = students_df["student_name"].str.replace(word, "")
    
students_df.head(20)

<ipython-input-64-be243a3cb424>:5: FutureWarning: The default value of regex will change from True to False in a future version.
  students_df["student_name"] = students_df["student_name"].str.replace(word, "")

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84
10,10,Andrew Alexander,M,10th,Huang High School,90,70
11,11,Daniel Cooper,M,10th,Huang High School,78,77
12,12,Brittney Walker,F,9th,Huang High School,64,79
13,13,William Long,M,9th,Huang High School,71,79
14,14,Tammy Hebert,F,10th,Huang High School,85,67
15,15,Jordan Carson,M,11th,Huang High School,94,88
16,16,Donald Zamora,M,9th,Huang High School,88,55
17,17,Kimberly Santiago,F,9th,Huang High School,74,75
18,18,Kevin Stevens,M,9th,Huang High School,64,69
19,19,Brandi Lyons,F,9th,Huang High School,89,80